<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="style/weibo.css" rel="stylesheet" type="text/css"/>
  <script src="vue.js"></script>
  <script src="vue-resource.js"></script>
  <script>
   Vue.filter('time',function(value){
      return new Date(parseInt(value)*1000).toLocaleString().replace();
   });

    window.onload = function(){
      var URL = "http://www.vue.com/weibo.php";
      var vm = new Vue({
        el     : '.znsArea',
        data   : {
          clickPage: 1,
          pages    : 1,
          t1       : '',
          msgData  : []
        }, // mounted: function(){  //定时执行函数
        //   this.$nextTick(function(){
        //     setInterval(this.getpage, 10);
        //   })
        // },
        methods: {
          getpage    : function(){ //获取页数
            this.$http({
              url : URL,
              data: {
                act: 'getpages',
              }
            }).then(function(res){
              if(res.data.error === 0){
                this.pages = res.data.pages;
              }else{
                this.pages = 1;
              }
              console.log(this.pages);
            });
          },
          add        : function(){
            //发送请求
            this.$http({
              url : URL,
              data: { //后台发送数据
                act    : 'add',
                content: this.t1
              }
            }).then(function(res){//发送成功接收服务端 回调 返回的数据
              //console.log(this.msgData);
              var json = res.data;
              //msgData添加数据,unshift把数据放到数组的第一个位置
              this.msgData.unshift({
                content: this.t1,
                time   : json.time,
                acc    : 0,
                red    : 0,
                id     : json.id
              });
              this.t1 = ''; //添加到留言板后，将输入框清空
            });
          },
          cut        : function(index){
            console.log(this.msgData[index]);
            var info = this.msgData[index];
            //发送请求
            this.$http({
              url : URL,
              data: {
                act: 'del',
                id : info.id,
              }
            }).then(function(res){ //回调返回信息
              var json = res.data;
              if(json.error === 0){
                this.msgData.splice(index, 1);
              }else{
                alert('删除失败');
              }
            });
            //this.msgData.splice(index,1);
          },
          sel        : function(){//加载页面就调用的方法
            this.$http({ //发送请求获取加载页面所有数据
              url : URL,
              data: {
                act: 'sel',
              }
            }).then(function(res){
              var json = res.data;
              this.msgData = [];
              // console.log(json.info);
              if(json.error === 0){
                // this.msgData.push(json.info);
                this.msgData = json.info; //直接替换  msgData整个数组
                console.log(this.msgData);
              }else{
                //console.log(res);
                alert('bad');
              }
            });
          },
          top        : function(index){  //赞
            var top = this.msgData[index];
            this.$http({
              url : URL,
              data: { //存放参数发送
                act : 'top',
                info: top
              }
            }).then(function(res){
              //console.log(top);
              //修改数组中某个字段的值
              //Vue.set(top,'acc',2);
              console.log(res);
              if(res.data === ''){
                alert('点赞失败');
              }else{
                if(res.data.error === 0){
                  Vue.set(top, 'acc', res.data.acc);
                }else{
                  alert('重新点赞');
                }

              }
            });
          },
          down       : function(index){  //踩
            var down = this.msgData[index];
            this.$http({
              url : URL,
              data: {
                act : 'down',
                info: down,
              }
            }).then(function(res){
              if(res.data === ''){
                alert('点踩失败');
              }else{
                if(res.data.error === 0){
                  Vue.set(down, 'ref', res.data.ref);
                }else{
                  alert('重新点踩');
                }
              }
            });
          },
          getPageData: function(n){
            this.$http({
              url : URL,
              data: {
                act: 'get',
                p  : n
              },
            }).then(function(res){
              var arr = res.data;
              this.msgData = [];
              for(var i = 0; i < arr.length; i++){
                this.msgData.push({
                  content: arr[i].content,
                  time   : arr[i].time,
                  acc    : arr[i].acc,
                  ref    : arr[i].ref,
                  id     : arr[i].id
                });
              }
              //this.msgData.push(arr);
            });
          },

          getPageDatas: function(n){
            this.clickPage = n;
            //console.log(this.clickPage);
            this.$http({
              url : URL,
              data: {
                act: 'get',
                p  : n
              },
            }).then(function(res){
              var arr = res.data;
              this.msgData = []; //重新填入数据
              for(var i = 0; i < arr.length; i++){
                this.msgData.push({
                  content: arr[i].content,
                  time   : arr[i].time,
                  acc    : arr[i].acc,
                  ref    : arr[i].ref,
                  id     : arr[i].id
                });
              }
              //this.msgData.push(arr);
            });
          },

        },

        created: function(){
          this.getpage();
          //this.sel();
          this.getPageData(this.clickPage);
        },
        ready  : function(){

        },
      });
    }
  </script>
</head>
<body>
<div class="znsArea">
  <!--留言-->
  <div class="takeComment">
    <textarea name="textarea" class="takeTextField" id="tijiaoText" v-model="t1"></textarea>
    {{t1}}
    <div class="takeSbmComment">
      <input type="button" class="inputs" value="" @click="add"/>
      <span>(可按 Enter 回复)</span>
    </div>
  </div>
  <!--已留-->
  <div class="commentOn">
    <div class="noContent" v-show="msgData.length==0">暂无留言</div>
    <div class="messList">
      <div class="reply" v-for="item in msgData" track-by="$index">
        <p class="replyContent">{{item.content}} </p>
        <p class="operation">
          <span class="replyTime">{{item.time | time}</span>
          <span class="handle">
                    	<a href="javascript:;" v-on:click="top($index)" class="top">{{item.acc}}</a>
                        <a href="javascript:;" v-on:click="down($index)" class="down_icon">{{item.ref}}</a>
                        <a href="javascript:;" v-on:click="cut($index)" class="cut">删除</a>
                    </span>
        </p>
      </div>
    </div>
    <div class="page">

      <a v-on:click="getPageDatas($index+1)" href="#" v-for="p in pages" track-by="$index">
        {{p+1}}
      </a>

    </div>
  </div>
</div>
</body>

</html>